@font-face {
  font-family: "Quentin";
  src: url("/fonts/Quentin.otf") format("truetype"), url("/fonts/quentin.woff2") format("woff2"), url("/fonts/quentin.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  color: #2d2d2b;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2d2d2b;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: .1rem;
  font-weight: 500;
}

.small-uppercase-style {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.small-lowercase-style {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

.section-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.header__logo {
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(/img/image0.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 0;
}

.header__logo-shadow {
  background-color: rgba(0, 0, 0, 0.6);
}

.header__logo-text {
  text-align: center;
  line-height: 40vh;
  color: rgba(255, 255, 255, 0.815);
  text-shadow: 5px 5px 20px black;
  font-family: 'Quentin';
  font-weight: 300;
}

.main__section {
  position: relative;
  padding-bottom: 60px;
  background-color: #EAE5E1;
}

.main__section-flower {
  display: none;
}

.main__section-box {
  position: relative;
  top: -40px;
  margin: 0 auto;
  padding: 40px 30px;
  width: 85vw;
  max-width: 380px;
  background-color: #fff;
}

.main__section-box h2,
.main__section-box p {
  margin-bottom: 20px;
  text-align-last: left;
}

.main__section-box-title {
  position: relative;
  margin-bottom: 30px;
}

.main__section-box-title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -15px;
  height: 1.7px;
  width: 70px;
  background-color: #d8c7aa;
}

.main__section-box p:nth-of-type(2) {
  padding-top: 7px;
  font-weight: 300;
  line-height: 1.6;
}

.main__section-box p:last-of-type {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  font-family: 'Quentin';
}

.main__section-box svg {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 60px;
  fill: #2d2d2b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*FORM SECTION*/
.form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAE5E1;
  padding-bottom: 70px;
}

.form__section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.form__section-container-photobox {
  position: relative;
  width: 260px;
  height: 260px;
  overflow: hidden;
  border: 1px solid #2d2d2b;
}

.form__section-container-photobox-img {
  position: relative;
  top: -50px;
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.form__section-container-signup {
  margin-top: 60px;
  padding: 0 20px;
  text-align: center;
}

.form__section-container-signup p:first-of-type {
  margin-bottom: 20px;
}

.form__section-container-signup h2 {
  margin-bottom: 20px;
}

.form__section-container-signup p:last-of-type {
  padding: 0 20px;
  margin-bottom: 20px;
}

.form__section-container-signup input {
  margin-bottom: 15px;
  background-color: #D4C7BE;
  padding: 10px 5px;
}

.form__section-container-signup button {
  display: block;
  margin: 0 auto;
  padding: 15px 45px;
  color: #fff;
  background-color: #2d2d2b;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .2rem;
}

.form__section-container-signup input,
.form__section-container-signup button {
  width: 80%;
  border: transparent;
}

/*SECTION MENU*/
.section__menu {
  position: relative;
  padding: 70px 0px;
  background-image: url(/img/pexels-alesia-kozik-6016762.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__menu-shadow {
  background-color: rgba(87, 87, 87, 0.5);
}

.section__menu-text {
  margin-bottom: 20px;
}

.section__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
  width: 90vw;
  max-width: 360px;
  background-color: #D4C7BEde;
}

.section__menu-container h2 {
  text-align: center;
}

.section__menu-container-list {
  margin: 10px auto;
}

.section__menu-container-list li {
  position: relative;
  margin-top: 20px;
}

.section__menu-container-list li::before {
  position: absolute;
  content: '';
  height: 1px;
  bottom: -6px;
  width: 100%;
  background-color: #D4C7BE;
}

/*SECTION ABOUT*/
.section__about {
  position: relative;
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.section__about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__about-container-photo {
  width: 260px;
  height: 260px;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #2d2d2b;
}

.section__about-container-photo img {
  position: relative;
  top: -20%;
  width: 100%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
}

.section__about-container-text {
  width: 85vw;
  max-width: 280px;
  padding: 0 20px;
  text-align: center;
}

.section__about-container-text h2 {
  font-family: 'Quentin';
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.section__about-container-text h3,
.section__about-container-text p:first-of-type {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .1rem;
}

.section__about-container-text p:last-of-type {
  margin-top: 30px;
  padding: 0 15px;
  text-align: justify;
}

.section__about-container-text a {
  display: block;
  margin-top: 30px;
}

/*OPINION SECTION*/
.opinion__section {
  background-color: #fff;
  padding: 0 0 60px 0;
}

.opinion__section-header {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  padding: 20px 0 15px 0;
  text-align: center;
  background-color: #9f9d91f5;
}

.opinion__section-header img {
  display: none;
}

.opinion__section-header h2 {
  font-family: 'Montserrat', sans-serif;
}

.opinion__section-header p {
  font-size: 2.3rem;
  font-family: 'Quentin';
  font-weight: 300;
}

.opinion__section-container {
  padding: 30px 20px;
  background-color: #fff;
}

.opinion__section .slick-prev {
  left: -160px;
}

.opinion__section .slick-next {
  right: -160px;
}

.opinion__section .slide-arrow {
  position: absolute;
  top: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: transparent;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 1;
}

.opinion__section .slide-arrow:hover .carousel-arrow {
  -webkit-filter: invert(21%) sepia(46%) saturate(18%) hue-rotate(25deg) brightness(100%) contrast(86%);
          filter: invert(21%) sepia(46%) saturate(18%) hue-rotate(25deg) brightness(100%) contrast(86%);
}

.opinion__section .slick-prev {
  left: -10px;
}

.opinion__section .slick-next {
  right: -10px;
}

.opinion__section .arrow-left,
.opinion__section .arrow-right {
  -webkit-filter: invert(93%) sepia(94%) saturate(2479%) hue-rotate(290deg) brightness(102%) contrast(76%);
          filter: invert(93%) sepia(94%) saturate(2479%) hue-rotate(290deg) brightness(102%) contrast(76%);
}

.opinion__section-box-photo {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.opinion__section-box-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.opinion__section-box-text {
  text-align: center;
  margin: 30px auto;
}

.opinion__section-box-signature {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 500;
}

/* SOCIAL SECTION */
.section__social {
  position: relative;
  padding: 50px 0;
  background-color: #D4C7BE;
}

.section__social .flower {
  position: absolute;
  left: -10px;
  display: block;
  width: 150px;
  height: 150px;
  top: 80px;
}

.section__social a {
  display: block;
  color: #2d2d2b;
}

.section__social-container-link {
  font-family: 'Playfair Display', serif;
  letter-spacing: .1rem;
  margin-top: 30px;
  text-align: center;
}

.section__social-container h3 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Quentin';
  text-align: center;
  margin-bottom: 30px;
}

.section__social-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__social-container-list a {
  margin-bottom: 10px;
  letter-spacing: .2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.section__social-container-list svg {
  position: relative;
  top: .3rem;
  margin-right: 10px;
  width: 20px;
  fill: #2d2d2b;
}

/*FOOTER*/
.footer {
  padding: 15px 0;
  background-color: #6f6e62;
}

.footer a,
.footer p,
.footer span {
  color: #fff;
  letter-spacing: .2rem;
}

.footer svg {
  position: relative;
  top: 5px;
  width: 20px;
  fill: white;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container-top-link {
  font-weight: 300;
  font-size: 2.3rem;
  text-transform: lowercase;
  font-family: 'Quentin';
}

.footer__container-policy span {
  margin: 0 5px;
}

.footer__container-copyrights p {
  padding-top: 10px;
}

.footer__container-text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (min-width: 375px) {
  .header__logo-text {
    font-size: 3.5rem;
  }
  .main__section {
    padding-bottom: 80px;
  }
  .main__section-box svg {
    width: 80px;
  }
  .form__section {
    padding-bottom: 80px;
  }
  .form__section-container-photobox {
    width: 320px;
    height: 320px;
  }
  .form__section-container-signup {
    padding: 0 40px;
  }
  .section__menu {
    padding: 80px 0;
  }
  .section__menu-container-photo {
    margin-top: 30px;
    width: 320px;
    height: 320px;
  }
  .section__about-container-photo {
    width: 320px;
    height: 320px;
  }
  .opinion__section .slick-prev {
    left: -25px;
  }
  .opinion__section .slick-next {
    right: -25px;
  }
  .opinion__section-container {
    width: 85vw;
    margin: 0 auto;
    padding: 30px 25px;
  }
  .opinion__section-box-photo {
    width: 180px;
    height: 180px;
  }
  .opinion__section-box-text {
    font-size: 1.5rem;
  }
  .opinion__section-box-signature {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-text {
    font-size: 4.2rem;
  }
  .main__section-box {
    top: -45px;
    padding: 80px;
    max-width: 520px;
  }
  .main__section-box svg {
    width: 100px;
    bottom: -60px;
  }
  .form__section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
  }
  .form__section-container-photobox {
    width: 350px;
    height: 460px;
  }
  .form__section-container-signup {
    position: relative;
    margin-top: 0;
    max-width: 390px;
    padding: 0 50px;
  }
  .section__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__about-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 650px;
  }
  .section__about-container-photo {
    width: 340px;
    height: 420px;
    margin-bottom: 0;
  }
  .section__about-container-photo img {
    top: -5%;
  }
  .section__about-container-text h2 {
    position: relative;
    left: -10%;
    width: 130%;
  }
  .opinion__section-header img {
    display: block;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    top: 100px;
    right: -15px;
    width: 190px;
    height: 190px;
    z-index: 100;
  }
  .opinion__section-container {
    width: 85vw;
  }
  .opinion__section .slick-prev {
    left: -40px;
  }
  .opinion__section .slick-next {
    right: -40px;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    height: 60vh;
  }
  .header__logo-text {
    line-height: 60vh;
  }
  .main__section-flower {
    position: absolute;
    left: -10px;
    bottom: 0;
    display: block;
    width: 300px;
    z-index: 10;
    -webkit-filter: invert(33%) sepia(5%) saturate(58%) hue-rotate(21deg) brightness(96%) contrast(92%);
            filter: invert(33%) sepia(5%) saturate(58%) hue-rotate(21deg) brightness(96%) contrast(92%);
  }
  .opinion__section-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px 60px;
    max-width: 1000px;
  }
  .opinion__section .slick-prev {
    left: 0;
  }
  .opinion__section .slick-next {
    right: 0px;
  }
}
