@media screen and (min-width:992px) {

 .form__section-container {
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  &-photobox {
   top: 30px;
  }
  &-signup {
   top: 30px;
  }
 }


 .opinion__section {
  &-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 60px;
    max-width: 1000px;
  }
 
  .slick-prev {
    left: 0;
  }
 
  .slick-next {
    right: 0px;
  }
 }

}